extends layout

block content
  div.container
    h1 Welcome #{userdata}
    table.table.table-striped.table-hover.table-dark
      thead
        tr
          th ISBN
          th Book Title
          th Author
          th Cover Photo
          th Genre
          th Publishing Year 
          th No.of Copies 
          th Actions
      tbody
        each bk in book
          tr
            td= bk.isbn
            td= bk.book_title
            td= bk.author
            td= bk.cover_image
            td= bk.genre
            td= bk.publishing_year
            td= bk.copies
            td
              form(action=`/books/${bk.isbn}/borrow` method="POST")
                button.btn.btn-info(type="submit") Borrow Book

              form(action=`/books/${bk.isbn}/return` method="POST")
                button.btn.btn-warning(type="submit") Return Book
            
    a.btn.btn-primary(href=`/`) Back
    a.btn.btn-danger(href="/users/logout") logout
